.policy {
  h1 {
    font-family: "brandon-grotesque",sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    text-transform: uppercase;
    color: #2D2D2D;
    margin-top: 48px;
    margin-bottom: 24px;
  }
}